body {
    font-family: "Garamond", serif;
    margin: 0;
    transition: background-color 0.3s;
}

#hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1001;
}

#hamburger-menu .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: "Garamond", serif;
    position: relative;
}

nav {
    background-color: #444;
    text-align: center;
    height: fixed;
}

nav a {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
}

nav a:hover {
    background-color: #555;
}

aside {
    display: flex;
    flex-direction: column;
    width: 64px;
    padding-top: 60px; /* Space for header */
    padding-left: 4px;
    padding-right: 4px;
    color: white; /* Text color for dark bg */
    background-color: #2c2c2c; /* Dark background */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

aside.open {
    left: 0;
    width: 242px;
}

aside div {
    display: none;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

aside.open div {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
form label {
    font-weight: bold;
}
